Microsoft.Flow/flows/d23ee04f-083e-48ee-9bb0-578a62d6a44a/definition.json
{"name":"5c22e00d-9364-463e-8439-0aebdeae0382","id":"/providers/Microsoft.Flow/flows/5c22e00d-9364-463e-8439-0aebdeae0382","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"POSTER APPROVAL FLOW","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"718a2e6a-aece-416d-bb97-626539c00ac0","type":"User","tenantId":"170bbabd-a2f0-4c90-ad4b-0e8f0f0c4259"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-23T11:11:47.6136177Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_entry_is_created":{"metadata":{"operationMetadataId":"32e066e1-4ba4-402c-bda0-f99772ceb554"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_cognitoforms","connectionName":"shared_cognitoforms","operationId":"NewEntry"},"parameters":{"publisher":"7"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Faculty_name":{"runAfter":{"Initialize_variable_ISGlossWhite_Check_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0bfc63bb-2ec6-475b-8930-f6eeb9f576c6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Facultyname","type":"string","value":"@triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/FacultyName']"}]}},"Get_Faculty_Contact_data":{"runAfter":{"Get_Faculty_name":["Succeeded"]},"metadata":{"operationMetadataId":"277bffbb-05a3-483f-ad5e-93773306eda9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"https://uofh.sharepoint.com/sites/TEST281","table":"fcf53681-a09f-48b8-9dae-3a757d8f97d9","$filter":"Name eq '@{variables('Facultyname')}'"},"authentication":"@parameters('$authentication')"}},"Select":{"runAfter":{"Get_Faculty_Contact_data":["Succeeded"]},"metadata":{"operationMetadataId":"e720592b-d0e9-45ca-bf7f-0ce945eb246c"},"type":"Select","inputs":{"from":"@outputs('Get_Faculty_Contact_data')?['body/value']","select":"@item()?['Email']"}},"Join":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"f09f30e1-83df-4695-ba39-54e30c1059a7"},"type":"Join","inputs":{"from":"@body('Select')","joinWith":","}},"Store_Faculty_email":{"runAfter":{"Join":["Succeeded"]},"metadata":{"operationMetadataId":"19604db9-9ef8-474a-9081-ec568b7b5770"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Facultyemail","type":"string","value":"@body('Join')"}]}},"Apply_to_each":{"foreach":"@triggerOutputs()?['body/PowerpointFileSubmission/UploadSlides']","actions":{"Condition_Based_on_outcome_of_approval":{"actions":{"Feed_Data_into_Sharepoint_and_Trigger_Email":{"foreach":"@triggerOutputs()?['body/PowerpointFileSubmission/UploadSlides']","actions":{"Feed_Details_into_Sharepoint":{"runAfter":{},"metadata":{"operationMetadataId":"46446d0b-1300-43bc-82d8-3601dc5d48bc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://uofh.sharepoint.com/sites/TEST281","table":"887c5da1-bdeb-41d9-a831-257dcde45f70","item/Title":"@{triggerOutputs()?['body/PosterInformation/Title']}-@{triggerOutputs()?['body/Name/FirstAndLast']}","item/TITLEOFPOSTER":"@triggerOutputs()?['body/PosterInformation/Title']","item/FirstName":"@triggerOutputs()?['body/Name/First']","item/LastName":"@triggerOutputs()?['body/Name/Last']","item/PhoneNumber":"@triggerOutputs()?['body/PhoneNumber']","item/Email":"@triggerOutputs()?['body/Email']","item/ApprovedFacultyName":"@variables('Facultyname')","item/Department":"@triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']","item/NameofMeeting":"@triggerOutputs()?['body/MeetingInformation/NameOfMeeting']","item/DateofMeeting":"@triggerOutputs()?['body/MeetingInformation/DateOfMeeting']","item/TitleofPoster0":"@triggerOutputs()?['body/PosterInformation/Title']","item/Heightofposter":"@triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']","item/Desireddatetopickup":"@triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRasisedAtleastPriorTo3BusinessDays']","item/FacultyEmail":"@variables('Facultyemail')","item/DefaultWhite":"@triggerOutputs()?['body/PosterInformation/DefaultWhiteMattefree']","item/GlossWhite":"@triggerOutputs()?['body/PosterInformation/GlossWhite10']"},"authentication":"@parameters('$authentication')"}},"Feed_attachment_into_Sharepoint":{"runAfter":{"Feed_Details_into_Sharepoint":["Succeeded"]},"metadata":{"operationMetadataId":"997786d6-e20d-4967-a574-d0b30987ebd6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"CreateAttachment"},"parameters":{"dataset":"https://uofh.sharepoint.com/sites/TEST281","table":"887c5da1-bdeb-41d9-a831-257dcde45f70","itemId":"@outputs('Feed_Details_into_Sharepoint')?['body/ID']","displayName":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Name']","body":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Content']"},"authentication":"@parameters('$authentication')"}},"Is_gloss_White":{"actions":{"Gloss_White_Poster_Email_for_each":{"foreach":"@outputs('Wait_for_an_approval')?['body/responses']","actions":{"FileSize_Gloss_White_Test":{"actions":{"Gloss_White_Email-_COPIT":{"runAfter":{},"metadata":{"operationMetadataId":"dc5c6e74-d1e9-4f2c-8f54-f477d3637b27"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"support-246480@copit.jitbit.com;","emailMessage/Subject":"POSTER PRINT REQUEST - @{triggerOutputs()?['body/PosterInformation/Title']} - Gloss White","emailMessage/Body":"\n\n<p>Poster Requested by @{triggerOutputs()?['body/Name/FirstAndLast']} and apporved by @{items('Gloss_White_Poster_Email_for_each')?['responder/displayName']} on &nbsp;@{body('Completion_Date_Time_Converstion')}<br>\n<br>\n<strong>Poster Details:<br>\n</strong><br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeigh and Width (inches):<br>\n<br>\n\n\n\nHeight and Width:  @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nType:<strong> Gloss White</strong><br>\n<strong><br>\nLINK FOR THE POSTER :</strong><br>\n@{items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['File']}<br>\n<br>\n<br>\n<strong>PICKUP DATE:</strong><br>\n\n@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}\n<br>\n<br>\n<br>\n<strong><br>\nMEETING INFO:</strong><br>\n<strong>\n\n<br>\n</strong>DEPARTMENT:<br>\n@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}<br>\n\nInformation about principal investigator/Faculty:\n@{variables('Facultyname')}<br>\n\n\nNAME OF MEETING:<br>\n@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\n<br>\nDate of Meeting:<br>\n@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\n<strong><br>\nRequester Details:<br>\n<br>\n</strong>Requester Name: @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']}<br>\nRequester Email: @{outputs('Feed_Details_into_Sharepoint')?['body/Email']}<br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\n<br>\n<br>\n<br>\nApproval information:<br>\n<br>\nRequested on : @{body('Requested_Convert_time_zone')}<br>\nCompleted on: &nbsp;@{body('Completion_Date_Time_Converstion')}<br>\n<br>\n</p>\n\n\n","emailMessage/Cc":"@outputs('Feed_Details_into_Sharepoint')?['body/Email']","emailMessage/Attachments":[{"Name":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Name']","ContentBytes":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Content']"}],"emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"More_than_25MB_Gloss_White-COPIT_":{"runAfter":{},"metadata":{"operationMetadataId":"497db3cd-2d10-4435-9562-7228c01d8311"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"support-246480@copit.jitbit.com;","emailMessage/Subject":"POSTER PRINT REQUEST - @{triggerOutputs()?['body/PosterInformation/Title']} - Gloss White","emailMessage/Body":"\n<p>Poster Requested by @{triggerOutputs()?['body/Name/FirstAndLast']} and apporved by @{items('Gloss_White_Poster_Email_for_each')?['responder/displayName']} on &nbsp;@{body('Completion_Date_Time_Converstion')}<br>\n<br>\n<strong>Poster Details:<br>\n</strong><br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeigh and Width (inches):<br>\n<br>\nHeight and Width:  @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nType:<strong> Gloss White</strong><br>\n<strong><br>\nLINK FOR THE POSTER :</strong><br>\n@{items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['File']}<br>\n<br>\n<br>\n<strong>PICKUP DATE:</strong><br>\n\n@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}\n<br>\n<br>\n<br>\n<strong><br>\nMEETING INFO:</strong><br>\n<strong>\n\n<br>\n</strong>DEPARTMENT:<br>\n@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}<br>\n\nInformation about principal investigator/Faculty:\n@{variables('Facultyname')}<br>\n\n\nNAME OF MEETING:<br>\n@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\n<br>\nDate of Meeting:<br>\n@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\n<strong><br>\nRequester Details:<br>\n<br>\n</strong>Requester Name: @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']}<br>\nRequester Email: @{outputs('Feed_Details_into_Sharepoint')?['body/Email']}<br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\n<br>\n<br>\n<br>\nApproval information:<br>\n<br>\nRequested on : @{body('Requested_Convert_time_zone')}<br>\nCompleted on: &nbsp;@{body('Completion_Date_Time_Converstion')}<br>\n<br>\n</p>\n\n\nNote: File Size Larger than 25MB so please download the file from the link above","emailMessage/Cc":"@outputs('Feed_Details_into_Sharepoint')?['body/Email']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@variables('FileSize')",26214400]},"metadata":{"operationMetadataId":"bd8a6a79-2da2-4b78-81cd-1dc23875c37d"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"2e091b34-31c0-4216-a33f-ce7b02c6c971"},"type":"Foreach"},"For_each_Ack_Email_Default_Gloss_White_Poster-Mail_to_User":{"foreach":"@outputs('Wait_for_an_approval')?['body/responses']","actions":{"Gloss_Ack_Email":{"runAfter":{},"metadata":{"operationMetadataId":"fdc17c07-e7b1-4684-b894-ec2c38eab34c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Feed_Details_into_Sharepoint')?['body/Email']","emailMessage/Subject":"Your poster request is approved and sent to Print","emailMessage/Body":"<p>Hi,<br>\n<br>\nYour Poster Request is approved and sent to COPIT Team for Printing.<br>\n<br>\nYou will recevice an email from COPIT team after your request is complete. If you have any questions or concerns, you can email the COPIT Team at rxcopit@central.uh.edu\n<br>\nPoster name: @{outputs('Feed_Details_into_Sharepoint')?['body/TITLEOFPOSTER']}<br>\nApproved by: @{items('For_each_Ack_Email_Default_Gloss_White_Poster-Mail_to_User')?['responder/displayName']}<br>\nApproved on: @{body('Completion_Date_Time_Converstion')}<br>\nType: Gloss White<br>\nRequester: @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']}<br>\n<br>\n<br>\nThanks &amp; Regards,<br>\nUH-COPIT<br>\n<br>\n</p>\n\n<div style=\"display:none;\">","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Gloss_White_Poster_Email_for_each":["Succeeded"]},"metadata":{"operationMetadataId":"048059b6-4ff3-41b1-96f2-935cd51a307e"},"type":"Foreach"}},"runAfter":{"Set_variable":["Succeeded"]},"else":{"actions":{"For_each_Ack_Email_Default_White_Poster-Mail_to_User":{"foreach":"@outputs('Wait_for_an_approval')?['body/responses']","actions":{"Ack_Email_Default_White":{"runAfter":{},"metadata":{"operationMetadataId":"583cf836-2e35-44e8-aeda-8d4fef03baf5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Feed_Details_into_Sharepoint')?['body/Email']","emailMessage/Subject":"Your poster request is approved and sent to Print","emailMessage/Body":"<p>Hi @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']},<br>\n<br>\nYour Poster Request is approved and sent to IT Team for Printing.<br>\n<br>\nYou will recevice an email from COPIT team after your request is complete. If you have any questions or concerns, you can email the COPIT Team at rxcopit@central.uh.edu<br>\n<br>\nPoster name: @{outputs('Feed_Details_into_Sharepoint')?['body/TITLEOFPOSTER']}<br>\nApproved by: @{items('For_each_Ack_Email_Default_White_Poster-Mail_to_User')?['responder/displayName']}<br>\nApproved on: @{body('Completion_Date_Time_Converstion')}<br>\nType: Default White Matte<br>\nRequester: @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']}<br>\n<br>\n<br>\nThanks &amp; Regards,<br>\nUH-COPIT<br>\n<br>\n</p>\n\n<div style=\"display:none;\">","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Default_White_Poster_Email_for_each":["Succeeded"]},"metadata":{"operationMetadataId":"26a336a0-ba5a-41bf-a8bc-3e2040eb317a"},"type":"Foreach"},"Default_White_Poster_Email_for_each":{"foreach":"@outputs('Wait_for_an_approval')?['body/responses']","actions":{"FileSize-DefaultWhite-Test":{"actions":{"Default_White_Poster_Email-COPIT":{"runAfter":{},"metadata":{"operationMetadataId":"d826a10e-6bf3-4685-985d-c0efe44c7dec"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"support-246480@copit.jitbit.com;","emailMessage/Subject":"PRINT POSTER REQUEST -@{triggerOutputs()?['body/PosterInformation/Title']}- Default White Matte\n","emailMessage/Body":"<p><br>\nPoster Requested by @{triggerOutputs()?['body/Name/FirstAndLast']} and apporved by @{items('Default_White_Poster_Email_for_each')?['responder/displayName']} on @{body('Completion_Date_Time_Converstion')}<br>\n<br>\nPoster Details:<br>\n<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\n<br>\nHeight and Width (inches): @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\n<br>\nType: Default White Matte<br>\n<br>\nLINK FOR THE POSTER FORM:<br>\n@{items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['File']}<br>\n<br>\n<br>\nPICKUP DATE:<br>\n<br>\n@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}<br>\n<br>\n<br>\nMEETING INFO:<br>\n<br>\nDEPARTMENT:<br>\n@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}<br>\nNAME OF MEETING:<br>\n@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\n<br>\nInformation about principal investigator/Faculty:<br>\n@{variables('Facultyname')}<br>\n<br>\n<br>\nDate of Meeting:<br>\n@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\nRequester Details:<br>\n<br>\nRequester Name: @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']}<br>\nRequester Email: @{outputs('Feed_Details_into_Sharepoint')?['body/Email']}<br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\n<br>\n<br>\n<br>\nApproval information:<br>\n<br>\nRequested on : @{body('Requested_Convert_time_zone')}<br>\nCompleted on: &nbsp;@{body('Completion_Date_Time_Converstion')}<br>\n<br>\n</p>","emailMessage/Cc":"@outputs('Feed_Details_into_Sharepoint')?['body/Email']","emailMessage/Attachments":[{"Name":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Name']","ContentBytes":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Content']"}],"emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"More_than_25MB_Default_White_-_COPIT":{"runAfter":{},"metadata":{"operationMetadataId":"246db3d8-f4ee-4375-bd78-3e72a4f83607"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"support-246480@copit.jitbit.com;","emailMessage/Subject":" PRINT POSTER REQUEST -@{triggerOutputs()?['body/PosterInformation/Title']}- Default White Matte\n","emailMessage/Body":"<p><br>\nPoster Requested by @{triggerOutputs()?['body/Name/FirstAndLast']} and apporved by @{items('Default_White_Poster_Email_for_each')?['responder/displayName']} on @{body('Completion_Date_Time_Converstion')}<br>\n<br>\nPoster Details:<br>\n<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\n<br>\nHeight and Width (inches): @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\n<br>\nType: Default White Matte<br>\n<br>\nLINK FOR THE POSTER FORM:<br>\n@{items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['File']}<br>\n<br>\n<br>\nPICKUP DATE:<br>\n<br>\n@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}<br>\n<br>\n<br>\nMEETING INFO:<br>\n<br>\nDEPARTMENT:<br>\n@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}<br>\nNAME OF MEETING:<br>\n@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\n<br>\nInformation about principal investigator/Faculty:<br>\n@{variables('Facultyname')}<br>\n<br>\n<br>\nDate of Meeting:<br>\n@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\nRequester Details:<br>\n<br>\nRequester Name: @{outputs('Feed_Details_into_Sharepoint')?['body/FirstName']}<br>\nRequester Email: @{outputs('Feed_Details_into_Sharepoint')?['body/Email']}<br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\n<br>\n<br>\n<br>\nApproval information:<br>\n<br>\nRequested on : @{body('Requested_Convert_time_zone')}<br>\nCompleted on: &nbsp;@{body('Completion_Date_Time_Converstion')}<br>\n<br>\nNote: File Size Larger than 25MB so please download the file from the link above</p>","emailMessage/Cc":"@outputs('Feed_Details_into_Sharepoint')?['body/Email']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@variables('FileSize')",26214400]},"metadata":{"operationMetadataId":"ebec4bee-9205-48d7-a68b-649030ea680e"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"fc0fc147-4379-40fc-a625-c429d522ce99"},"type":"Foreach"}}},"expression":{"equals":["@bool(true)","@bool(triggerOutputs()?['body/PosterInformation/GlossWhite10'])"]},"metadata":{"operationMetadataId":"2e49c2db-8de0-4b87-a4e3-7358303e42d9"},"type":"If"},"Get_file_content":{"runAfter":{"Feed_attachment_into_Sharepoint":["Succeeded"]},"metadata":{"operationMetadataId":"89e3b0c3-4cc6-4ed9-9013-1f0ca69ab067"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetFileContent"},"parameters":{"dataset":"https://uofh.sharepoint.com/sites/TEST281","id":"@outputs('Feed_attachment_into_Sharepoint')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Completion_Date_Time_Converstion":{"runAfter":{"Requested_Convert_time_zone":["Succeeded"]},"metadata":{"operationMetadataId":"eff79aed-d2bd-48c6-9bcc-0d47eda4b916"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@outputs('Wait_for_an_approval')?['body/completionDate']","formatString":"F","sourceTimeZone":"UTC","destinationTimeZone":"Central Standard Time"}},"Requested_Convert_time_zone":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"6140bcf4-bbe3-4e88-9f3a-93575f1e05ed"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@outputs('Wait_for_an_approval')?['body/requestDate']","formatString":"F","sourceTimeZone":"UTC","destinationTimeZone":"Central Standard Time"}},"Set_variable":{"runAfter":{"Completion_Date_Time_Converstion":["Succeeded"]},"metadata":{"operationMetadataId":"e084d570-85a2-402e-aa81-05b00734de00"},"type":"SetVariable","inputs":{"name":"FileSize","value":"@items('Feed_Data_into_Sharepoint_and_Trigger_Email')?['Size']"}}},"runAfter":{},"metadata":{"operationMetadataId":"8d810a50-e8f0-4f33-aac8-82699a5905b4"},"type":"Foreach"}},"runAfter":{"Response_Received":["Succeeded"]},"else":{"actions":{"Poster_Not_Approved_Mail":{"runAfter":{},"metadata":{"operationMetadataId":"e4da6f87-7516-43ae-956e-7ad8616fef0b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Email']","emailMessage/Subject":"Poster not approved - @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"<p>Hi @{triggerOutputs()?['body/Name/FirstAndLast']},<br>\n<br>\nYour @{triggerOutputs()?['body/PosterInformation/Title']} &nbsp;poster is not approved.<br>\n<br>\n<br>\nPlease contact your @{variables('Facultyname')} &nbsp;advisor/faculty regarding the poster approval.</p>\n\n<div style=\"display:none;\">","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"32e07cef-418b-44c9-a83a-d6fb99143f5c"},"type":"If"},"Create_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"55aa420c-cea8-4dc3-8832-60e6b383ee48"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"[Action needed ] Approve Poster -@{triggerOutputs()?['body/PosterInformation/Title']}","ApprovalCreationInput/assignedTo":"@{variables('Facultyemail')};","ApprovalCreationInput/details":"\n\nPoster Details:\n\nPoster title: @{triggerOutputs()?['body/PosterInformation/Title']}\nPoster Height x Width:  @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}\nLink to the poster: \n@{items('Apply_to_each')?['File']}\n\nInformation about principal investigator/Faculty:\n@{variables('Facultyname')}\n\nRequester Details:\nRequester Name: @{triggerOutputs()?['body/Name/FirstAndLast']}\nRequester email:@{triggerOutputs()?['body/Email']}\n\n\nMeeting details:\nName of the Meeting: @{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}\nDate of the Meeting: @{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}\n\n","ApprovalCreationInput/requestor":"@{triggerOutputs()?['body/Email']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Wait_for_an_approval":{"runAfter":{"Create_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"06b3db74-4b88-405c-855c-ab56f4d3979d"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"parameters":{"approvalName":"@outputs('Create_an_approval')?['body/name']"},"authentication":"@parameters('$authentication')"}},"Response_Received":{"runAfter":{"Wait_for_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"8a5c239f-4c11-4ea0-bac8-f0de8cd71894"},"type":"SetVariable","inputs":{"name":"ApprovalResponse","value":"@true"}},"Flow_failed_email":{"runAfter":{"Create_an_approval":["Failed"]},"metadata":{"operationMetadataId":"03cb387d-8f18-4717-9931-8a8711698407"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"rxcopit@Central.UH.EDU;","emailMessage/Subject":"The poster request has failed","emailMessage/Body":"<p>Hi COPIT,<br>\n<br>\n<br>\nThe poster request was unsuccesful. This is due to wrong cougarnet mail address by the requester or if you added new faculty email please recheck the mail address of the faculty in the sharepoint:<br>\n<br>\nThe requester will not receive the confirmation mail as  requester entered wrong cougarnet mail address<br>\n<br>\nBelow are the details for the poster:<br>\n<br>\nall poster details<br>\n<br>\n<br>\nPlease find the Submission details below:<br>\n<br>\nPoster Details:<br>\n<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\n<br>\nHeigh and Width (inches): @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nFileName: @{items('Apply_to_each')?['Name']}\n<br>\n<br>\n<br>\n\nPICKUP DATE:@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}\n\n<br>\n\nMEETING INFO:<br>\n\nDEPARTMENT:@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}\n<br>\nNAME OF MEETING:@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\nDate of Meeting:@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\nInformation about principal investigator/Faculty:@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember']}<br>\n\nRequester Details:<br>\n<br>\nRequester Name:@{triggerOutputs()?['body/Name']}<br>\nRequester Email: @{triggerOutputs()?['body/Email']}<br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\nRequest Created on: @{triggerOutputs()?['body/Entry/DateCreated']}<br>\nFile Name:@{items('Apply_to_each')?['Name']}\n<br>\n<br>\n<br>\n<br>\n<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Check_approval_response":{"actions":{"After_4_hours":{"runAfter":{},"metadata":{"operationMetadataId":"5815088b-783b-44bd-8613-64c6d08a56b0"},"type":"Wait","inputs":{"interval":{"count":4,"unit":"Hour"}}},"Condition_5":{"actions":{"Condition":{"actions":{"Submitter_email":{"runAfter":{"Reminder_email_for_faculty":["Succeeded"]},"metadata":{"operationMetadataId":"3eeb2987-807b-4d41-8ecc-d469813f7f2f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"Poster waiting for approval from PI- @{variables('Facultyname')}","emailMessage/Body":"Hi @{triggerOutputs()?['body/Name/First']},\n\nThis is to inform you that the reminder email has been sent to faculty to respond the poster request.\n\n<p>The poster submitted by @{triggerOutputs()?['body/Name/FirstAndLast']} on @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')} is waiting for approval from PI: @{variables('Facultyname')}<br>\n<br>\n<br>\nPoster details:<br>\n<br>\nTitle:@{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequested by:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n\n Requester mobile number:@{triggerOutputs()?['body/PhoneNumber']}<br>\n PI name:@{variables('Facultyname')}<br>\n PI email address:@{variables('Facultyemail')}</p>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Day_2":{"actions":{"wait_for_2_days_more":{"runAfter":{},"metadata":{"operationMetadataId":"cd207db3-e413-4eb8-8014-24dfe07eb388"},"type":"Wait","inputs":{"interval":{"count":2,"unit":"Day"}}},"Reminder_email_for_faculty_-2":{"runAfter":{"wait_for_2_days_more":["Succeeded"]},"metadata":{"operationMetadataId":"ccc49a59-f1c5-415b-b79e-e438f8297b30"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"\nThis is a reminder to approve or reject the poster request sumitted by\n@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n<br>\nApproval link:<a href=\"@{outputs('Create_an_approval')?['body/respondLink']}\"> Click to approve or reject </a><br>\n<br>\n<br>\n<br>\n<br>\nPoster details:<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequestor name:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\nRequested on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}<br>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Reminder_email_for_submitter_-2":{"runAfter":{"Reminder_email_for_faculty_-2":["Succeeded"]},"metadata":{"operationMetadataId":"f49c8fe2-df7d-485b-869d-e2f4d30a7bf0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"Hi @{triggerOutputs()?['body/Name/First']},\n\nThis is to inform you that the reminder email has been sent to faculty to respond the poster request.\n\n<p>The poster submitted by @{triggerOutputs()?['body/Name/FirstAndLast']} on @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')} is waiting for approval from PI: @{variables('Facultyname')}<br>\n<br>\n<br>\nPoster details:<br>\n<br>\nTitle:@{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequested by:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n\n Requester mobile number:@{triggerOutputs()?['body/PhoneNumber']}<br>\n PI name:@{variables('Facultyname')}<br>\n PI email address:@{variables('Facultyemail')}</p>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"wait_for_2more_days":{"runAfter":{},"metadata":{"operationMetadataId":"82c51b82-6a3c-40f5-b18a-ab358d74a4ef"},"type":"Wait","inputs":{"interval":{"count":2,"unit":"Day"}}},"Send_an_email_(V2)":{"runAfter":{"wait_for_2more_days":["Succeeded"]},"metadata":{"operationMetadataId":"f0a1d717-51a6-489d-9905-4035e19ed503"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"\nThis is a reminder to approve or reject the poster request sumitted by\n@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n<br>\nApproval link:<a href=\"@{outputs('Create_an_approval')?['body/respondLink']}\"> Click to approve or reject </a><br>\n<br>\n<br>\n<br>\n<br>\nPoster details:<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequestor name:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\nRequested on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}<br>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"e1f58ae6-37f9-434a-b554-78cb15a1781d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"Hi @{triggerOutputs()?['body/Name/First']},\n\nThis is to inform you that the reminder email has been sent to faculty to respond the poster request.\n\n<p>The poster submitted by @{triggerOutputs()?['body/Name/FirstAndLast']} on @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')} is waiting for approval from PI: @{variables('Facultyname')}<br>\n<br>\n<br>\nPoster details:<br>\n<br>\nTitle:@{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequested by:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n\nRequester mobile number:@{triggerOutputs()?['body/PhoneNumber']}<br>\nPI name:@{variables('Facultyname')}<br>\nPI email address:@{variables('Facultyemail')}</p>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"wait_for_2_more_days_-3":{"runAfter":{},"metadata":{"operationMetadataId":"87db7cfd-c244-489e-b507-4f064711a949"},"type":"Wait","inputs":{"interval":{"count":2,"unit":"Day"}}},"Send_an_email_(V2)_3":{"runAfter":{"wait_for_2_more_days_-3":["Succeeded"]},"metadata":{"operationMetadataId":"28e437db-889d-4ab7-9ea1-8394e28e6846"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"\nThis is a reminder to approve or reject the poster request sumitted by\n@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n<br>\nApproval link:<a href=\"@{outputs('Create_an_approval')?['body/respondLink']}\"> Click to approve or reject </a><br>\n<br>\n<br>\n<br>\n<br>\nPoster details:<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequestor name:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\nRequested on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}<br>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_4":{"runAfter":{"Send_an_email_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"7ca89164-d1cf-467e-b5c6-4803724d9331"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"Hi @{triggerOutputs()?['body/Name/First']},\n\nThis is to inform you that the reminder email has been sent to faculty to respond the poster request.\n\n<p>The poster submitted by @{triggerOutputs()?['body/Name/FirstAndLast']} on @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')} is waiting for approval from PI: @{variables('Facultyname')}<br>\n<br>\n<br>\nPoster details:<br>\n<br>\nTitle:@{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequested by:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n\nRequester mobile number:@{triggerOutputs()?['body/PhoneNumber']}<br>\nPI name:@{variables('Facultyname')}<br>\nPI email address:@{variables('Facultyemail')}</p>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"387cbd63-4989-4367-a892-d40c01a89e91"},"type":"Wait","inputs":{"interval":{"count":2,"unit":"Day"}}},"Send_an_email_(V2)_5":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"8ee86724-b32c-44c5-aabd-daf1b211671c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"\nThis is a reminder to approve or reject the poster request sumitted by\n@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n<br>\nApproval link:<a href=\"@{outputs('Create_an_approval')?['body/respondLink']}\"> Click to approve or reject </a><br>\n<br>\n<br>\n<br>\n<br>\nPoster details:<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequestor name:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\nRequested on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}<br>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_6":{"runAfter":{"Send_an_email_(V2)_5":["Succeeded"]},"metadata":{"operationMetadataId":"003ea46c-8862-494a-b874-a50aba3b37e1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"Hi @{triggerOutputs()?['body/Name/First']},\n\nThis is to inform you that the reminder email has been sent to faculty to respond the poster request.\n\n<p>The poster submitted by @{triggerOutputs()?['body/Name/FirstAndLast']} on @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')} is waiting for approval from PI: @{variables('Facultyname')}<br>\n<br>\n<br>\nPoster details:<br>\n<br>\nTitle:@{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequested by:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n\nRequester mobile number:@{triggerOutputs()?['body/PhoneNumber']}<br>\nPI name:@{variables('Facultyname')}<br>\nPI email address:@{variables('Facultyemail')}</p>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Increment_variable":{"runAfter":{"Send_an_email_(V2)_6":["Succeeded"]},"metadata":{"operationMetadataId":"c1c00f76-e4d5-4354-8cb5-4bdea795dac8"},"type":"IncrementVariable","inputs":{"name":"Reminder emails sent","value":1}}},"runAfter":{"Increment_Reminder_variable-4":["Succeeded"]},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"b098cc8a-b4db-400a-982d-9fe114a35ff1"},"type":"If"},"Increment_Reminder_variable-4":{"runAfter":{"Send_an_email_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"07866774-d820-4904-823f-ba32ac1e063e"},"type":"IncrementVariable","inputs":{"name":"Reminder emails sent","value":1}}},"runAfter":{"Check_after_3hour":["Succeeded"]},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"b7fc580a-d7eb-4f7d-8f57-82b46a2e5dbe"},"type":"If"},"Increment_Reminder_variable-3":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"001a92ae-d833-4bda-b82d-182e24074ec2"},"type":"IncrementVariable","inputs":{"name":"Reminder emails sent","value":1}},"Check_after_3hour":{"runAfter":{"Increment_Reminder_variable-3":["Succeeded"]},"metadata":{"operationMetadataId":"0064c939-db3c-45e3-a95f-e67bd17e97f0"},"type":"Wait","inputs":{"interval":{"count":3,"unit":"Hour"}}}},"runAfter":{"Check_after_3_hours":["Succeeded"]},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"f287f523-131e-4cba-a52b-63d57e48a8e4"},"type":"If"},"Increment_Reminder_variable_-2":{"runAfter":{"Reminder_email_for_submitter_-2":["Succeeded"]},"metadata":{"operationMetadataId":"7d4f7f89-42b4-4f52-9f8e-b71e9a7de9b1"},"type":"IncrementVariable","inputs":{"name":"Reminder emails sent","value":1}},"Check_after_3_hours":{"runAfter":{"Increment_Reminder_variable_-2":["Succeeded"]},"metadata":{"operationMetadataId":"7e46bed8-9d67-4d36-b957-0f705d00b7f8"},"type":"Wait","inputs":{"interval":{"count":3,"unit":"Hour"}}}},"runAfter":{"Check_after_2_hours":["Succeeded"]},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"a26274e4-d86b-47a5-a376-34e6de438ba0"},"type":"If"},"Increment_Reminder_variable":{"runAfter":{"Submitter_email":["Succeeded"]},"metadata":{"operationMetadataId":"588cd0f3-d67c-4b97-8e71-3a9ff1c03b29"},"type":"IncrementVariable","inputs":{"name":"Reminder emails sent","value":1}},"Check_after_2_hours":{"runAfter":{"Increment_Reminder_variable":["Succeeded"]},"metadata":{"operationMetadataId":"162ce5e9-fec1-4e43-ba7c-12a4b06cba7f"},"type":"Wait","inputs":{"interval":{"count":2,"unit":"Hour"}}},"Delay_one_day":{"runAfter":{},"metadata":{"operationMetadataId":"33b25278-efab-42db-a339-b7fd34ca6022"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Day"}}},"Reminder_email_for_faculty":{"runAfter":{"Delay_one_day":["Succeeded"]},"metadata":{"operationMetadataId":"316baab0-c5d8-4ee9-9a3c-8847c64d4301"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Facultyemail')","emailMessage/Subject":"please approve the poster- @{triggerOutputs()?['body/PosterInformation/Title']}","emailMessage/Body":"\nThis is a reminder to approve or reject the poster request sumitted by\n@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\n<br>\nApproval link:<a href=\"@{outputs('Create_an_approval')?['body/respondLink']}\"> Click to approve or reject </a><br>\n<br>\n<br>\n<br>\n<br>\nPoster details:<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeight and Width:@{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nRequestor name:@{triggerOutputs()?['body/Name/FirstAndLast']}<br>\nRequested on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}<br>\n\n<div style=\"display:none;\">\n","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"30383472-234a-497d-98ff-c3ed01266c76"},"type":"If"}},"runAfter":{"After_4_hours":["Succeeded"]},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"dfc15785-df98-41fa-85fb-50182616fe4a"},"type":"If"}},"runAfter":{"Check_first_time_30min":["Succeeded"]},"expression":{"equals":["@variables('ApprovalResponse')","@false"]},"metadata":{"operationMetadataId":"61f834cc-2eb9-4bdb-99cc-c9d7c3c8bb30"},"type":"If"},"Check_first_time_30min":{"runAfter":{"Create_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"be8f5966-bd73-4ddf-8760-3d66d0cf7d04"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Minute"}}}},"runAfter":{"Confirmation_Mail_Poster_Type_Condition":["Succeeded"]},"metadata":{"operationMetadataId":"35e7af92-0771-4fb4-8b03-95556e14bf78"},"type":"Foreach"},"Confirmation_Mail_Poster_Type_Condition":{"actions":{"confirmation_email_for_each":{"foreach":"@triggerOutputs()?['body/PowerpointFileSubmission/UploadSlides']","actions":{"IS_Gloss_White_":{"runAfter":{"White_Confirmation_poster":["Succeeded"]},"metadata":{"operationMetadataId":"7b219616-29e5-4cc1-8227-22ea89a208d4"},"type":"SetVariable","inputs":{"name":"ISGLOSSWHITE","value":"Yes"}},"White_Confirmation_poster":{"runAfter":{},"metadata":{"operationMetadataId":"986343a8-3fb2-4ea0-b7d5-bf4acbaebf8f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Email']","emailMessage/Subject":"Your Poster Request is Submitted","emailMessage/Body":"<p>Hi @{triggerOutputs()?['body/Name/FirstAndLast']},<br>\n<br>\nYour Poster Request is Submitted and has been sent to the PI you selected for approval. The request will not be routed to COPIT for printing until your PI has approved. &nbsp;<br>\n<br>\nPlease find the Submission details below:<br>\n<br>\n<b>Poster Details:<br>\n\nPoster Type:  Gloss White<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\nHeigh and Width (inches): @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nFile Name: @{items('confirmation_email_for_each')?['Name']}<br>\n\n<br>\nPICKUP DATE:<br>\n@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}\n<br>\n<br>\n<br>\n<br>\n<b>MEETING INFO:<b><br>\n<br>\nDEPARTMENT:<br>\n@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}<br>\nNAME OF MEETING:<br>\n@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\n<br>\nDate of Meeting:<br>\n@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\nInformation about principal investigator/Faculty:<br>\n@{variables('Facultyname')}<br>\n<br>\n<br>\nRequester Details:<br>\n<br>\nRequester Name:@{triggerOutputs()?['body/Name/First']}<br>\nRequester Email:@{triggerOutputs()?['body/Email']} <br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\nRequest Created on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}(CST)\n<br>\n</b>\n</p>\n\n<div style=\"display:none;\">","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"05c2f72a-7cb7-483d-bbdb-511d2e7d2f31"},"type":"Foreach"}},"runAfter":{"Convert_time_zone_-_Cognito_Submission_Time_CST":["Succeeded"]},"else":{"actions":{"Default_White_Confirmation_for_each":{"foreach":"@triggerOutputs()?['body/PowerpointFileSubmission/UploadSlides']","actions":{"Default_Confirmation_":{"runAfter":{},"metadata":{"operationMetadataId":"e08a3a56-094e-4baa-b2e5-ca28b8382232"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Email']","emailMessage/Subject":"Your Poster Request is Submitted","emailMessage/Body":"<p><p>Hi @{triggerOutputs()?['body/Name/FirstAndLast']},<br></p>\n<br>\nYour Poster Request is Submitted and has been sent to the PI you selected for approval. The request will not be routed to COPIT for printing until your PI has approved.<br>\n<br>\nPlease find the Submission details below:<br>\n<br>\n<b>Poster Details:<br>\nPoster Type: Default White Matte<br>\n<br>\nTitle: @{triggerOutputs()?['body/PosterInformation/Title']}<br>\n<br>\nHeigh and Width (inches): @{triggerOutputs()?['body/PosterInformation/DesiredHeightXWidth']}<br>\nFileName: @{items('Default_White_Confirmation_for_each')?['Name']}<br>\n\n\n\n<br>\n<br>\nPICKUP DATE:<br>\n@{triggerOutputs()?['body/PosterInformation/DesiredDateToPickupNoteRequestShouldBeRaisedAtleastPriorTo3BusinessDays']}<br>\n<br>\n<br>\n<br>\n<b>MEETING INFO:<b><br>\n<br>\nDEPARTMENT:<br>\n@{triggerOutputs()?['body/InformationAboutPrincipalInvestigatorFacultyMember/Department']}<br>\nNAME OF MEETING:<br>\n@{triggerOutputs()?['body/MeetingInformation/NameOfMeeting']}<br>\n<br>\n<br>\nDate of Meeting:<br>\n@{triggerOutputs()?['body/MeetingInformation/DateOfMeeting']}<br>\n<br>\n<br>\nInformation about principal investigator/Faculty:<br>\n@{variables('Facultyname')}<br>\n<br>\n<br>\nRequester Details:<br>\n<br>\nRequester Name:@{triggerOutputs()?['body/Name/First']}<br>\nRequester Email: @{triggerOutputs()?['body/Email']}<br>\nRequester Phone no: @{triggerOutputs()?['body/PhoneNumber']}<br>\nRequest Created on: @{body('Convert_time_zone_-_Cognito_Submission_Time_CST')}(CST)\n<br>\n</b>\n</p>\n\n<div style=\"display:none;\">","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"20f431fd-6e4b-4ef9-8aac-5a3a0e111a30"},"type":"Foreach"},"Is_Default_White":{"runAfter":{"Default_White_Confirmation_for_each":["Succeeded"]},"metadata":{"operationMetadataId":"c3ec5abc-7424-45f4-ac2a-3f423985e9f2"},"type":"SetVariable","inputs":{"name":"ISGLOSSWHITE","value":"No"}}}},"expression":{"equals":["@bool(true)","@bool(triggerOutputs()?['body/PosterInformation/GlossWhite10'])"]},"metadata":{"operationMetadataId":"88b6fa03-4024-4da3-85c7-44a53c35e857"},"type":"If"},"Convert_time_zone_-_Cognito_Submission_Time_CST":{"runAfter":{"Store_Faculty_email":["Succeeded"]},"metadata":{"operationMetadataId":"0c826425-d3c3-48c7-ad66-7274b5ddab19"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/Entry/DateSubmitted']","formatString":"F","sourceTimeZone":"UTC","destinationTimeZone":"Central Standard Time"}},"Initialize_variable_ISGlossWhite_Check_variable":{"runAfter":{"ApprovalResponseStatus":["Succeeded"]},"metadata":{"operationMetadataId":"cb7a7faf-90ba-4208-bc54-c0db5510daf3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ISGLOSSWHITE","type":"string","value":"FALSE"}]}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"e167def9-4f1c-4746-9c73-1e1474c6042e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"FileSize","type":"integer"}]}},"ApprovalResponseStatus":{"runAfter":{"Reminder_emails":["Succeeded"]},"metadata":{"operationMetadataId":"45a8b4cf-2276-4395-81c0-8904124110f0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalResponse","type":"boolean","value":"@false"}]}},"Reminder_emails":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"6cdb4651-211a-450f-9509-6bb70aaf7f93"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Reminder emails sent","type":"integer","value":0}]}}}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"shared-sharepointonl-4852ee23-3e24-448b-bda9-ed88b6e87b64","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365_1":{"connectionName":"shared-office365-1df436b0-9187-411d-bfa0-b760a9e29c38","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-8d077417-82e1-457e-99e3-cf4fe90a5021","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-3def5e04-4b22-4835-bce1-1164a10bf051","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_cognitoforms":{"connectionName":"shared-cognitoforms-74c484a0-9f91-4f83-8d7f-f253b2e26a76","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_cognitoforms","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}